
.idea/.name
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/e357a276-d290-4277-b65a-f58a2ac7026b.xml
.idea/dataSources/e357a276-d290-4277-b65a-f58a2ac7026b/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/e357a276-d290-4277-b65a-f58a2ac7026b/storage_v2/_src_/schema/shopping_list.FRm8nQ.meta
.idea/dataSources/e357a276-d290-4277-b65a-f58a2ac7026b/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/dataSources/e357a276-d290-4277-b65a-f58a2ac7026b/storage_v2/_src_/schema/sys.zb4BAA.zip
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
